div.vettura {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  div.vettura:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  