
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

thead {
  background-color: #333;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modifica {
  background-color: #4CAF50;
  color: #fff;
}

.elimina {
  background-color: #f44336;
  color: #fff;
}

.icon-button {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}



