<app-header></app-header>
<button class="icon" routerLink="/admin/home/aggiungiPratica">
  <fa-icon [icon]="faPlus"> </fa-icon>
 </button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome Pratica</th>
      <th>Inizio Pratica</th>
      <th>In Lavorazione</th>
      <th>Fine Pratica</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let pratica of pratiche">
      <tr (click)="apriDialog(pratica)">
        <td>{{ pratica.id }}</td>
        <td>
          <mat-form-field>
            <mat-label>Nome Pratica</mat-label>
            <input matInput [id]="'nomePratica-' + pratica.id" [disabled]="!isModificaEnabled[pratica.id]" [(ngModel)]="pratica.nomePratica" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput [id]="'inizioPratica-' + pratica.id" [disabled]="true" readonly [(ngModel)]="pratica.inizioPratica" class="datepicker-input" [matDatepicker]="inizioPraticaPicker">
            <mat-datepicker-toggle matSuffix [for]="inizioPraticaPicker"></mat-datepicker-toggle>
            <mat-datepicker #inizioPraticaPicker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <select [id]="'ruolo-' + pratica.id" [disabled]="!isModificaEnabled[pratica.id]" [(ngModel)]="pratica.incorso">
            <option value="1" [selected]="pratica.incorso == 1">Si</option>
            <option value="0" [selected]="pratica.incorso == 0">No</option>
          </select>
        </td>
        <td>
          <mat-form-field>
            <input matInput [id]="'finePratica' + pratica.id" [disabled]="!isModificaEnabled[pratica.id]" [(ngModel)]="pratica.finePratica" class="datepicker-input" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <button *ngIf="isModificaEnabled[pratica.id]; else editButton" (click)="modificaPratica(pratica.id)">
            <fa-icon [icon]="faSave"></fa-icon>
          </button>
          <ng-template #editButton>
            <button (click)="abilitaModifica(pratica.id)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </ng-template>
          <button class="elimina" (click)="eliminapratica(pratica.id)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<app-footer></app-footer>
