<app-header></app-header>
<button class="icon" routerLink="/admin/home/aggiungiPratica">
  <fa-icon [icon]="faPlus"></fa-icon>
</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome Pratica</th>
      <th>Inizio Pratica</th>
      <th>In Lavorazione</th>
      <th>Fine Pratica</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let pratica of pratiche">
      <tr (click)="isModificaEnabled[pratica.id] ? null : toggleDettagliPratica(pratica)">
        <td>{{ pratica.id }}</td>
        <td>
          <mat-form-field>
            <mat-label>Nome Pratica</mat-label>
            <input matInput [id]="'nomePratica-' + pratica.id" [disabled]="!isModificaEnabled[pratica.id]" [(ngModel)]="pratica.nomePratica" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput [id]="'inizioPratica-' + pratica.id" [disabled]="true" readonly [(ngModel)]="pratica.inizioPratica" class="datepicker-input" [matDatepicker]="inizioPraticaPicker">
            <mat-datepicker-toggle matSuffix [for]="inizioPraticaPicker"></mat-datepicker-toggle>
            <mat-datepicker #inizioPraticaPicker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <select [id]="'ruolo-' + pratica.id" [disabled]="!isModificaEnabled[pratica.id]" [(ngModel)]="pratica.incorso">
            <option value="1" [selected]="pratica.incorso == 1">Si</option>
            <option value="0" [selected]="pratica.incorso == 0">No</option>
          </select>
        </td>
        <td>
          <mat-form-field>
            <input matInput [id]="'finePratica' + pratica.id" [disabled]="!isModificaEnabled[pratica.id]" [(ngModel)]="pratica.finePratica" class="datepicker-input" [matDatepicker]="finePraticaPicker">
            <mat-datepicker-toggle matSuffix [for]="finePraticaPicker"></mat-datepicker-toggle>
            <mat-datepicker #finePraticaPicker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <button *ngIf="isModificaEnabled[pratica.id]; else editButton" (click)="modificaPratica(pratica.id)">
            <fa-icon [icon]="faSave"></fa-icon>
          </button>
          <ng-template #editButton>
            <button (click)="abilitaModifica(pratica.id)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </ng-template>
          <button class="elimina" (click)="eliminapratica(pratica.id)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </td>
      </tr>
      <tr *ngIf="isDettagliPraticaVisible(pratica) && !isModificaEnabled[pratica.id]">
        <td colspan="6">
          <div class="overlay" [class.visible]="dettagliPraticaVisible" (click)="chiudiDettagliPratica()">
            <div class="modal">
              <h2>Informazioni della pratica</h2>
              <p>ID: {{ pratica.id }}</p>
              <p>Nome pratica: {{ pratica.nomePratica }}</p>
              <p>Inizio pratica: {{ pratica.inizioPratica }}</p>
              <p>Fine pratica: {{ pratica.finePratica }}</p>
              <!-- ... altre informazioni della pratica ... -->
              <h2>Utente:</h2>
              <p>ID Utente: {{ personaSelezionata?.id }}</p>
              <p>Nome: {{ personaSelezionata?.nome }}</p>
              <p>Cognome: {{ personaSelezionata?.cognome }}</p>
              <p>Email: {{ personaSelezionata?.email }}</p>
              <p>Codice Fiscale: {{ personaSelezionata?.codiceFiscale }}</p>

              <h2>Informazioni della vettura associata</h2>
              <p>Targa: {{ vetturaSelezionata?.targa }}</p>
              <p>Modello: {{ vetturaSelezionata?.modello }}</p>
              <p>Anno della macchina: {{ vetturaSelezionata?.immatricolazione }}</p>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<app-footer></app-footer>
