<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-column">
        <p>Via Nerina 15</p>
        <p>Rome, 00155</p>
        <p>Email: info@officinaVeneta.com</p>
        <p>Phone: 062292313</p>
      </div>

      <div class="social-icons">
        <a href="#" class="icon-link"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="icon-link"><i class="fab fa-twitter"></i></a>
        <a href="#" class="icon-link"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <p>&copy; 2023 Officina Veneta. All rights reserved.</p>
  </div>
</footer>
