<div class = " dialog">
<div class="persona-info">
    <h2>Utente:</h2>
    <p>Nome: {{ data.persona?.nome }}</p>
    <p>Cognome: {{ data.persona?.cognome }}</p>
    <p>Email: {{ data.persona?.email }}</p>
    <p>Codice Fiscale: {{ data.persona?.codiceFiscale }}</p>
  </div>
  
  <div class="vettura-info">
    <h2>Vettura:</h2>
    <p>Targa: {{ data.vettura?.targa }}</p>
    <p>Modello: {{ data.vettura?.modello }}</p>
    <p>Anno immatricolazione: {{ data.vettura?.immatricolazione }}</p>
    <p>Kilometri attuali: {{ data.vettura?.kilometraggio }}</p>
    <p>Ultimo Tagliando {{ data.vettura?.tagliando }}</p>
  </div>
</div>
  