
.textArea {
  width: 100%;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
mat-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.add-fields-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.field-group {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.field-group h4 {
  margin-top: 0;
}

.field-group:last-child {
  margin-bottom: 0;
}

.field-group input {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}
.mat{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.menu{
  margin:20px
}