header {
  background-color: #000;
 height: 120px;
 
}

.container {
  width:1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.logo {
  height:100%;
}

.navigation {
  display: flex;
  align-items: center;
  /* width: 200%;  Adjust this width as needed */
}

.navigation li {
  list-style: none;
  /*ogni rem sono 16 pixel*/
  margin-right: 1rem;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info {
  color: #fff;
  margin-right: 1rem;

}

.logout-btn {
  padding:0.5rem 1rem;

}

